.rounded-square{
    border-radius: 60px 60px;
    background: url(../images/patrick.png);
    background-position: 40% 10%;
    height: 314px;
    width: 291px;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.title-container {
    text-align: center;
    font-family: brandon-grotesque;
}

.full-stack{
    padding: 30px 0 60px 0;
    border-radius: 10px 10px;
    font-family: 'Raleway', sans-serif;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: minmax(150px, auto);
    max-width: 90%;
    margin: 20px auto;
    padding-bottom: 30px;

}

.about-me{
    grid-column: 4/11;
    grid-row: 1/4;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.card.box{
    text-align: center;
    box-shadow: 0 2px 20px 0 #0000003b;
    padding: 50px 50px;
    margin: 50px;
}

.card-body{
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.lang-grid{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.lang-grid p {
    width: 50%;
    margin: 10px 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.languages h4{
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
}

.project-wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(150px, auto);
    grid-row-gap: 10px;
    background-color: lightgray;
    max-width: 90%;
    margin: 20px auto;
}


.jumbotron {
background-color: transparent;
text-align: center;
padding: 2px;
font-family: 'Raleway', sans-serif;
}

.me{
    background: rgb(255,195,160);
    background: linear-gradient(14deg, rgba(255,195,160,1) 0%, rgba(127,175,216,1) 100%);
}

.content {
    padding: 0 20px 0 20px;
    font-family: 'Raleway', sans-serif;
}

.card-deck {
    margin: 80px;
    font-family: 'Raleway', sans-serif;
}

img.card-img-top.card-img {
    width: auto;
    height: 250px;
}

a.button.is-link {
    margin: 20px;
    width: 100px;
    padding: 20px;
}

h5.card-title{
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.project-title{
    text-align: center;
    font-size: 100px;
    background: #7fafd8; 
    background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
    
    
}

.border-title{
    border-bottom: 1px solid #7fafd8;
    align-items: center;
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 50%; 
    padding-top: 30px; 
    border-bottom: 4px solid #7fafd8; 
    font-family: 'Raleway', sans-serif;
}

.card-footer{
  align-self: auto;
  background-color: none;
  align-self: center;
  padding: none;
  font-family: 'Raleway', sans-serif;
}
.card-footer {
    padding: auto;
    background-color: white;
}

.display-3{
    font-family: 'Raleway', sans-serif;
}
.lead{
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    
}

p{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.card-title{
    font-family: 'Raleway', sans-serif;
}

.card-text{
    font-family: 'Raleway', sans-serif;
}

.lang-grid p{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.page-footer{
    background: rgb(255,195,160);
    background: linear-gradient(14deg, rgba(255,195,160,1) 0%, rgba(127,175,216,1) 100%);
}

.fa-project{
    color: #7fafd8;
    height: 20px;
    padding: 0 30px;
    margin: 0 40px;
    transition: color .5 ease;
    
}
.fa-project:hover{
    color: #ffc3a0;
    color: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  

}

.icon-resume{
    padding: 20px;
    color: #7fafd8;
    transition: color .5 ease;
}
.icon-resume:hover{
    color: #ffc3a0;  
    color: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);
   
}

.progress-bar{
    background-color: #7fafd8;
    font-family: 'Raleway', sans-serif;
    transition: color .5 ease;
}
.progress-bar:hover{
    background-color: #ffc3a0;  
}

.progress{
    align-content: center;
    font-family: 'Raleway', sans-serif;
}

.bar-title{
    margin-bottom: 1px;
    padding-bottom: 1px;
    font-family: 'Raleway', sans-serif;
}

.fa-project{
    padding: 10px;
}

#slider-container {

}

#slider {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: background 3s ease, left 1s ease, transform 200ms ease;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
    z-index: 1;
}

#slider-track {
    background: #a0a0a03d;
    height: 10px;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

#slider:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

@media only screen and (max-width: 1200px){
 .card-group {
     display: flex;
     flex-wrap: wrap;
 }
 .card.box{
    width: 100%;
    height: auto;
    padding: 0;
}
 .card-body h5{
     font-size: 25px;
     width: auto;
 }

 .card-body p{
    font-size: 18px;
    width: auto;
    text-align: center;
}
.card-body .bar-title{
    font-size: 18px;
    width: auto;
    text-align: center;
}

.card-body .icon-resume{
    font-size: 90px;
    width: auto;
    text-align: center;
}

.card-deck{
    display: flex;
    flex-wrap: wrap;
}

.fa-project{
    width: auto;
    padding: 0;
    margin: 0;
}

}

@media only screen and (max-width: 990px){
    .card-group {
        display: block;
        align-content: center;
    }
    .card.box{
        width: 100%;
        height: auto;
        margin: 0;
    }
    .card-body{
        width: 100%;
    }
    .card-body h5{
        font-size: 30px;
        width: auto;
    }
   
    .card-body p{
       font-size: 20px;
       width: auto;
       text-align: center;
   }
   .card-body .bar-title{
       font-size: 20px;
       width: auto;
       text-align: center;
   }
   
   .card-body .icon-resume{
       font-size: 60px;
       width: auto;
       text-align: center;
   }
   
   .card-deck{
    display: block;
    width: 80%;
}

   
   .fa-project{
       width: auto;
       padding: 0;
       margin: 0;
   }
   
   }
   @media only screen and (max-width: 780px){
    .card-group {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .card-body h5{
        font-size: 30px;
        /* width: auto; */
    }
    .card.box{
        width: 100%;
        height: auto;
        margin: 0;
    }
   
    .card-body p{
       font-size: 20px;
       width: auto;
       text-align: center;
       padding: 0;
   }
   .card-body .bar-title{
       font-size: 20px;
       width: auto;
       text-align: center;
   }
   
   .card-body .icon-resume{
       font-size: 60px;
       width: auto;
       text-align: center;
   }
   
   .card-deck{
       display: block;
       width: auto;
   }
   
   .fa-project{
       width: auto;
       padding: 0;
       margin: 0;
   }
   .border-title{
    font-size: 20px;
    width: auto;
   }
   
   }

   @media only screen and (max-width: 780px){
    .card.box{
        width: 100%;
        height: auto;
        margin: 0;
    }
    .card-deck{
        display: block;
        width: auto;

    }
    .lang-grid{
        display: block;
    }
    .fa-project{
        width: auto;
        padding: 0;
        margin: 0;
    }
   

}